{% extends 'base.html.twig' %}

{% block title %}{{ 'contact_us'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'contacts'|trans }}</h1>
    <p>{{ 'feel_free_to_contact'|trans }}</p>
    <p>{{ 'email'|trans }}: <a href="mailto:bugrov.aleksandr.v@gmail.com">bugrov.aleksandr.v@gmail.com</a></p>
    <p>{{ 'github'|trans }}: <a href="https://github.com/AlexFigures">https://github.com/AlexFigures</a></p>
{% endblock %}
