{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ 'questions_list'|trans }}</h1>
        {{ form_start(form, {'attr': {'class': 'question-form'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn submit-btn">{{ 'submit'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
